@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
font-family: Poppins;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    min-height: 500px;
    background-color: #a3a3a3;
}

#header {
    background-color: #12203d;
    width: 100%;
    height: 10%;
    clear: both;
    color: white;
}

#logo {
    width: 10%;
    float: left;
    margin: 0.5%
}

p {
    font-size: 28px;
    margin: 1.5% 0;
}

form#username_form {
    font-size: 28px;
}

form#username_form > input {
    font-size: 28px;
    width: 30%;
    text-align: center;
}

form#disconnect {
    margin-right: 30px;
}

form#disconnect > input {
    font-size: 28px;
    width: 196px;
    height: 50px;
}

input[value="Login"] {
    margin-left:45px;
    width: 196px;
    height: 50px;
}

div#obrazek {
    float: left;
    width: 42%;
    height: 100%;
    display: flex;
    align-items: center;
}

#log2 {
    float: left;
    width: 58%;
    height: 100%;
    display: flex;
    align-items: center;
}

#content {
    width: 100%;
    height: 85%;
    clear: both;
}

#lobby2 {
   height: 100%;
   width: 40%;
   float: left;
}

#room_box {

    height: 96.5%;
    border-radius: 10px;
    overflow: hidden;
    width: 59.3%;
    float: left;
    margin: 10px 0px;
    border: 0.5px solid black;
    background-color: #f2f2f2;

}

#slup {
    height: 100%;
    width: 0.5%;
    float: left;
}

#footer {
    background-color: #12203d;
    width: 100%;
    height: 5%;
    clear: both;
    text-align: center;
    color: white;
}

input {
    margin: 4px 0;
}

#rooms {
    height: 42%;
    border: 0.5px solid black;
    margin: 10px 0;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
}

#rooms > h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#lobby {
    background-color: #f2f2f2;
    border: 1px solid black;
    margin-bottom: 10px;
    height: 52.5%;
    border-radius: 10px;
    overflow: hidden;
}

#lobby > h2 {
    margin-bottom: 0;
}

#log {
    background-color: #d4d4d4;
    height: 30%;
    margin-top: 0;
    overflow-y: scroll;
    overflow-wrap: break-word;
    margin-right: 10px;
    border: 0.5px solid black;

}

#form_roomss > form {
    float: left;
}

#form_roomss > form#close {
    float: left;
    margin-left: 2%;
}

#room_table {
   height: 30%;
   overflow-y: scroll;
   margin-right: 10px;
   border: 0.5px solid black;
   background-color: #d4d4d4;

}



#table_room {
    width: 100%;
}

#table_room th {
    width: 50%;
}
#table_room td {
    width: 50%;
}

#table_room tr {
    border: 0.5px solid #f2f2f2;
}

#table_room tr {
    display:flex;
    margin: 1% 0;
}

tbody#tbb tr:nth-child(even) {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0.5% 0;
}
tbody#tbb tr:nth-child(odd) {
    margin: 0;
    padding: 0.5% 0;
}

form#rooms_btn {
    text-align: right;
}

form#rooms_btn > input {
    margin: 4px 10px;
}

#room_div {
    height: 32%;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
}

#room_div > form#room_box_send {
    text-align: right;
    margin-right: 15px;

}

form#room_box_send > input {
    font-size: 20px;
    overflow-wrap: break-word;
}

#room_log {
    height: 70%;
    overflow-y: scroll;
    border: 0.5px solid black;
    margin: 0 15px 0 10px;
    background-color: #d4d4d4;
}

#glowek {
    height: 65%;
    background-color: #f2f2f2;
    padding-left: 10px;
}
#score_game_box {
    width: 70%;
    float:left;

}
#score_game_box > p {
    margin: 0;
    font-size: 28px;
}

#current_step_box {
    clear: both;

}
#current_step_box > h3 {
    margin: 0;
}

#game_box {
    width: 30%;
    float: left;
    text-align: right;
}

#create_room, #create_room_password, #join_room, #room_name {
width: 25%;
}

#create_game {
    margin-top: 2%;
    margin-right: 17px;
    font-size: 20px;
}

#users_dice_box >h3 {
    margin-top: 0;
}

#room_box_name {
    margin: 0 0 0 0;
}

#mydices, #yourdices {
    margin: 0 10px 0 10px;
    border: 1px solid #f2f2f2;
    text-align: center;
    width: 97%;
    border-radius: 10px;
    overflow: hidden;
}

.dice_img {
    height: 64px;
    width: 64px;
}

#mydices td, #yourdices td {
    width: 20%;
    background-color: white;
    }

#usr_n {
float: left;
width: 70%;
}

#navi {
    width: 30%;
    padding-top: 18.72px;
    float:left;
    text-align: right;
}

#navi >input, button {
    font-size: 20px;
}

input[value="Rethrow"] {
    margin-right: 17px;
}