  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <body>

    <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form name="chatForm" action="" method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <form name="diceForm" action="" method="POST">
      <input type="number" class="num" placeholder="1-18"/>
      <input type="submit"/>
    </form>

    <div class="container text-center">
       <h1 >Slider Demo</h1>
       <form class="mt-5">
          <div class="form-group">
             <label >Demo Slider 1</label>
             <input type="range" class="form-control-range sync" id="slider1" min="0" max="50" value="{{slider1}}">
          </div>
          <div class="form-group">
             <label>Demo Slider 2</label>
             <input type="range" class="form-control-range sync" id="slider2" min="0" max="50" value="{{slider2}}">
          </div>
       </form>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
      var socket = io.connect('http://' + document.domain + ':' + location.port);

            $('input.sync').on('input', function(event) {
      socket.emit('Slider value changed', {
        who:$(this).attr('id'),
        data: $(this).val()
     });
     return false;
      });

           socket.on('update value', function(msg) {
               console.log('Slider value updated');
               $('#' + msg.who).val(msg.data);
           });




      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form[name="chatForm"]' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
        var diceForm = $( 'form[name="diceForm"]' ).on( 'submit', function( e ) {
          e.preventDefault()
          let num = $( 'input.num' ).val()
          socket.emit( 'my event', {
            number : num
          } )
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
        if( typeof msg.number !== 'undefined' ) {
            $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.number+'</div>' )
        }
      })
      });
    </script>

  </body>
  </html>